
@{
    ViewBag.Title = "Stage3SJRFormFirstStep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row form-group">
        <div class="col-xs-12 col-lg-12">
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li class="active">
                    <a href="#step-1">
                        <h4 class="list-group-item-heading">
                            Phase of Care Assessment
                        </h4>
                    </a>
                </li>
                <li class="disabled">
                    <a href="#step-2">
                        <h4 class="list-group-item-heading">
                            Assessment Of Problems in Healthcare
                        </h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="row setup-content" id="step-1">
            <div class="col-xs-12 col-lg-12">
                <form action="/Home/Stage3SJRformFirstStep" method="post" id="frmStage2SJRformFirstStep">
                    <div class="col-md-12 well text-center">
                        <div class="form-section" style="text-align:left">
                            <h3 class="stage_title">STAGE 1: STRUCTURED JUDGEMENT REVIEW </h3><br />
                            <div class="lable_title">
                                <h2>PHASE OF CARE: INITIAL MANAGEMENT (FIRST 24 HOURS) </h2>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row_bar">
                                        @{ if (Session["BtnPrevious"] != null)
                                            {
                                                var sjrFormInitial = (NHS.Models.SJRFormInitial)Session["sJRFormInitial"];
                                                var InitialManagement = sjrFormInitial.InitialManagement;
                                                <textarea class="form-control" rows="5" id="taInitialManagement" name="taInitialManagement">@InitialManagement</textarea>
                                            }
                                            else
                                            {

                                                <textarea class="form-control" rows="5" id="taInitialManagement" name="taInitialManagement" placeholder="Please record your explicit judgements about the quality of care the patient received and whether it was in accordance with current good practice (for example, your professional standards or your professional perspective). If there is any other information that you think is important or relevant that you wish to comment on then please do so."></textarea>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row_bar">
                                        <label class="label_part">Please rate the care received by the patient during this phase</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row_bar">
                                        @{ if (Session["BtnPrevious"] != null)
                                            {
                                                var sessionInitialManagementRating = (NHS.Models.CareRating)Session["careRating1"];
                                                string strInitialManagementRating = sessionInitialManagementRating.Name;

                                                <select class="form-control" id="ddlInitialManagementRating" name="ddlInitialManagementRating">
                                                    @{
                                                        if ("1 (Very Poor Care)" == strInitialManagementRating)
                                                        {
                                                            <option value="1 (Very Poor Care)" selected>1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)">4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                        }
                                                        if ("2 (Poor Care)" == strInitialManagementRating)
                                                        {
                                                            <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)" selected>2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)">4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                        }
                                                        if ("3 (Adequate Care)" == strInitialManagementRating)
                                                        {
                                                            <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)" selected>3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)">4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                        }
                                                        if ("4 (Good Care)" == strInitialManagementRating)
                                                        {
                                                            <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)" selected>4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                        }
                                                        if ("5 (Excellent Care)" == strInitialManagementRating)
                                                        {
                                                            <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)">4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)" selected>5 (Excellent Care)</option>
                                                        }

                                                    }

                                                </select>
                                            }
                                            else
                                            {

                                                <select class="form-control" id="ddlInitialManagementRating" name="ddlInitialManagementRating">
                                                    <option value="-1">Select</option>
                                                    <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                    <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                    <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                    <option value="4 (Good Care)">4 (Good Care)</option>
                                                    <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                </select>
                                            }

                                        }
                                    </div>
                                </div>
                                <div class="lable_title">
                                    <h2>&nbsp;&nbsp;PHASE OF CARE: ONGOING CARE</h2>
                                </div>
                                <div class="col-md-12">
                                    <div class="row_bar">
                                        @{ if (Session["BtnPrevious"] != null)
                                            {
                                                var sjrFormInitial = (NHS.Models.SJRFormInitial)Session["sJRFormInitial"];
                                                var strOngoingCare = sjrFormInitial.OngoingCare;
                                                <textarea class="form-control" rows="5" id="taOngoingCare" name="taOngoingCare">@strOngoingCare</textarea>
                                            }
                                            else
                                            {
                                                <textarea class="form-control" rows="5" id="taOngoingCare" name="taOngoingCare"></textarea>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row_bar">
                                        <label class="label_part">Please rate the care received by the patient during this phase</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row_bar">
                                        @{ if (Session["BtnPrevious"] != null)
                                            {
                                                var sessionOnGoingCareRating = (NHS.Models.CareRating)Session["careRating2"];
                                                string strOnGoingCareRating = sessionOnGoingCareRating.Name;

                                                <select class="form-control" id="ddlOnGoingCareRating" name="ddlOnGoingCareRating">
                                                    @{
                                                        if ("1 (Very Poor Care)" == strOnGoingCareRating)
                                                        {
                                                            <option value="1 (Very Poor Care)" selected>1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)">4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                        }
                                                        if ("2 (Poor Care)" == strOnGoingCareRating)
                                                        {
                                                            <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)" selected>2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)">4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                        }
                                                        if ("3 (Adequate Care)" == strOnGoingCareRating)
                                                        {
                                                            <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)" selected>3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)">4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                        }
                                                        if ("4 (Good Care)" == strOnGoingCareRating)
                                                        {
                                                            <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)" selected>4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                        }
                                                        if ("5 (Excellent Care)" == strOnGoingCareRating)
                                                        {
                                                            <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)">4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)" selected>5 (Excellent Care)</option>
                                                        }

                                                    }

                                                </select>
                                            }
                                            else
                                            {
                                                <select class="form-control" id="ddlOnGoingCareRating" name="ddlOnGoingCareRating">
                                                    <option value="-1">Select</option>
                                                    <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                    <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                    <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                    <option value="4 (Good Care)">4 (Good Care)</option>
                                                    <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                </select>
                                            }

                                        }
                                    </div>
                                </div>
                                <div class="lable_title">
                                    <h2>&nbsp;&nbsp;PHASE OF CARE: CARE DURING A PROCEDURE (EXCLUDING IV CANNULATION)</h2>
                                </div>
                                <div class="col-md-12">
                                    <div class="row_bar">
                                        @{ if (Session["BtnPrevious"] != null)
                                            {
                                                var sjrFormInitial = (NHS.Models.SJRFormInitial)Session["sJRFormInitial"];
                                                var strCareDuringProcedure = sjrFormInitial.CareDuringProcedure;
                                                <textarea class="form-control" rows="5" id="taCareDuringProcedure" name="taCareDuringProcedure">@strCareDuringProcedure</textarea>
                                            }
                                            else
                                            {
                                                <textarea class="form-control" rows="5" id="taCareDuringProcedure" name="taCareDuringProcedure"></textarea>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row_bar">
                                        <label class="label_part">Please rate the care received by the patient during this phase</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row_bar">
                                        @{ if (Session["BtnPrevious"] != null)
                                            {
                                                var sessionCareDuringProcedureCareRating = (NHS.Models.CareRating)Session["careRating3"];
                                                string strCareDuringProcedureCareRating = sessionCareDuringProcedureCareRating.Name;

                                                <select class="form-control" id="ddlCareDuringProcedureCareRating" name="ddlCareDuringProcedureCareRating">
                                                    @{
                                                        if ("1 (Very Poor Care)" == strCareDuringProcedureCareRating)
                                                        {
                                                            <option value="1 (Very Poor Care)" selected>1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)">4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                        }
                                                        if ("2 (Poor Care)" == strCareDuringProcedureCareRating)
                                                        {
                                                            <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)" selected>2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)">4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                        }
                                                        if ("3 (Adequate Care)" == strCareDuringProcedureCareRating)
                                                        {
                                                            <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)" selected>3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)">4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                        }
                                                        if ("4 (Good Care)" == strCareDuringProcedureCareRating)
                                                        {
                                                            <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)" selected>4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                        }
                                                        if ("5 (Excellent Care)" == strCareDuringProcedureCareRating)
                                                        {
                                                            <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)">4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)" selected>5 (Excellent Care)</option>
                                                        }

                                                    }

                                                </select>
                                            }
                                            else
                                            {
                                                <select class="form-control" id="ddlCareDuringProcedureCareRating" name="ddlCareDuringProcedureCareRating">
                                                    <option value="-1">Select</option>
                                                    <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                    <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                    <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                    <option value="4 (Good Care)">4 (Good Care)</option>
                                                    <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                </select>
                                            }

                                        }
                                    </div>
                                </div>
                                <div class="lable_title">
                                    <h2>&nbsp;&nbsp;PHASE OF CARE: END OF LIFE CARE</h2>
                                </div>
                                <div class="col-md-12">
                                    <div class="row_bar">
                                        @{ if (Session["BtnPrevious"] != null)
                                            {
                                                var sjrFormInitial = (NHS.Models.SJRFormInitial)Session["sJRFormInitial"];
                                                var strEndLifeCare = sjrFormInitial.EndLifeCare;
                                                <textarea class="form-control" rows="5" id="taEndLifeCare" name="taEndLifeCare">@strEndLifeCare</textarea>
                                            }
                                            else
                                            {
                                                <textarea class="form-control" rows="5" id="taEndLifeCare" name="taEndLifeCare"></textarea>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row_bar">
                                        <label class="label_part">Please rate the care received by the patient during this phase</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row_bar">
                                        @{ if (Session["BtnPrevious"] != null)
                                            {
                                                var sessionEndLifeCareRating = (NHS.Models.CareRating)Session["careRating4"];
                                                string strEndLifeCareRating = sessionEndLifeCareRating.Name;

                                                <select class="form-control" id="ddlEndLifeCareRating" name="ddlEndLifeCareRating">
                                                    @{
                                                        if ("1 (Very Poor Care)" == strEndLifeCareRating)
                                                        {
                                                            <option value="1 (Very Poor Care)" selected>1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)">4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                        }
                                                        if ("2 (Poor Care)" == strEndLifeCareRating)
                                                        {
                                                            <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)" selected>2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)">4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                        }
                                                        if ("3 (Adequate Care)" == strEndLifeCareRating)
                                                        {
                                                            <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)" selected>3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)">4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                        }
                                                        if ("4 (Good Care)" == strEndLifeCareRating)
                                                        {
                                                            <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)" selected>4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                        }
                                                        if ("5 (Excellent Care)" == strEndLifeCareRating)
                                                        {
                                                            <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)">4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)" selected>5 (Excellent Care)</option>
                                                        }

                                                    }

                                                </select>
                                            }
                                            else
                                            {
                                                <select class="form-control" id="ddlEndLifeCareRating" name="ddlEndLifeCareRating">
                                                    <option value="-1">Select</option>
                                                    <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                    <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                    <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                    <option value="4 (Good Care)">4 (Good Care)</option>
                                                    <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                </select>
                                            }

                                        }
                                    </div>
                                </div>
                                <div class="lable_title">
                                    <h2>&nbsp;&nbsp;PHASE OF CARE: OVERALL ASSESSMENT</h2>
                                </div>
                                <div class="col-md-12">
                                    <div class="row_bar">
                                        @{ if (Session["BtnPrevious"] != null)
                                            {
                                                var sjrFormInitial = (NHS.Models.SJRFormInitial)Session["sJRFormInitial"];
                                                var strOverAllAssessment = sjrFormInitial.OverAllAssessment;
                                                <textarea class="form-control" rows="5" id="taEndLifeCare" name="taEndLifeCare">@strOverAllAssessment</textarea>
                                            }
                                            else
                                            {
                                                <textarea class="form-control" rows="5" id="taOverAllAssessment" name="taOverAllAssessment"></textarea>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row_bar">
                                        <label class="label_part">Please rate the care received by the patient during this phase</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row_bar">
                                        @{ if (Session["BtnPrevious"] != null)
                                            {
                                                var sessionOverAllAssessmentCareRating = (NHS.Models.CareRating)Session["careRating5"];
                                                string strOverAllAssessmentCareRating = sessionOverAllAssessmentCareRating.Name;

                                                <select class="form-control" id="ddlOverAllAssessmentCareRating" name="ddlOverAllAssessmentCareRating">
                                                    @{
                                                        if ("1 (Very Poor Care)" == strOverAllAssessmentCareRating)
                                                        {
                                                            <option value="1 (Very Poor Care)" selected>1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)">4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                        }
                                                        if ("2 (Poor Care)" == strOverAllAssessmentCareRating)
                                                        {
                                                            <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)" selected>2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)">4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                        }
                                                        if ("3 (Adequate Care)" == strOverAllAssessmentCareRating)
                                                        {
                                                            <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)" selected>3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)">4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                        }
                                                        if ("4 (Good Care)" == strOverAllAssessmentCareRating)
                                                        {
                                                            <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)" selected>4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                        }
                                                        if ("5 (Excellent Care)" == strOverAllAssessmentCareRating)
                                                        {
                                                            <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                            <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                            <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                            <option value="4 (Good Care)">4 (Good Care)</option>
                                                            <option value="5 (Excellent Care)" selected>5 (Excellent Care)</option>
                                                        }

                                                    }

                                                </select>
                                            }
                                            else
                                            {
                                                <select class="form-control" id="ddlOverAllAssessmentCareRating" name="ddlOverAllAssessmentCareRating">
                                                    <option value="-1">Select</option>
                                                    <option value="1 (Very Poor Care)">1 (Very Poor Care)</option>
                                                    <option value="2 (Poor Care)">2 (Poor Care)</option>
                                                    <option value="3 (Adequate Care)">3 (Adequate Care)</option>
                                                    <option value="4 (Good Care)">4 (Good Care)</option>
                                                    <option value="5 (Excellent Care)">5 (Excellent Care)</option>
                                                </select>
                                            }

                                        }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row_bar">
                                        <label class="label_part">Quality of documentation</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row_bar">
                                        <select class="form-control" id="ddlQualityofDocumentation" name="ddlQualityofDocumentation">
                                            <option value="-1">Select</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button id="BtnNext" type="submit" name="BtnNext" class="btn btn-primary btn-lg">Save & Next</button>
                        <button class="btn btn-primary btn-lg" id="btnClose1">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modelClose1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Messsage</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-section" style="text-align:left">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row_bar">
                                <div>Doy you want to Save Record ?</div>
                            </div>
                        </div>
                        <br />
                        <br />

                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary btn-block" id="btnClose1Yes">Yes</button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary btn-block" id="btnModelClose1" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>*@

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#btnClose1").click(function () {
            $("#modelClose1").modal();
        });
    });
</script>
<script type="text/javascript">
$(function () {
    $("#btnModelClose1").click(function(){
window.location.href = "@Url.Action("CORSPatient", "Home")";
    });

});
</script>
